.u-section-1 .u-sheet-1 {
  min-height: 115px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 62px auto 0;
}.u-section-2 .u-sheet-1 {
  min-height: 20px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  font-size: 1.125rem;
  margin: 1px auto 0;
}.u-section-3 .u-sheet-1 {
  min-height: 74px;
}.u-section-4 .u-sheet-1 {
  min-height: 177px;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  margin: 60px auto;
}